<!doctype html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="app">
<div class="container" ng-controller="main">
    <h3>Generate reviews</h3>
    <div class="row">
        <form id="generateForm" ng-submit="generate()">
            <div class="col-md-8">
                <label>Customer Id</label><br/>
                <input type="number" ng-model="customerId"/><br/><br/>
                <label>Count</label><br/>
                <input type="number" ng-model="reviewCount"/>
                <input type="submit" class="btn btn-info" value="Go"/>&nbsp;<label>{{generateStatus}}</label>
                <br/>
            </div>
        </form>
    </div>
    <h3>Load reviews</h3>
    <div>
        <label>Customer Id</label>&nbsp;<input type="number" ng-model="customerId"/>
        <button type="button" class="btn btn-primary" ng-click="load()">Go</button>
        <label ng-show="showLoadResults">{{loadStatus}}. Loaded {{reviews.length}} reviews. Took {{loadTime}} ms</label>
        <label ng-hide="showLoadResults">{{loadStatus}}</label>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Rating</th>
                <th>Review</th>
            </tr>
            <tr ng-repeat="review in reviews">
                <td>{{review.id}}</td>
                <td>{{review.rating}}</td>
                <td>{{review.reviewText}}</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>