<!doctype html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="app">
<div class="container" ng-controller="main">
    <h3>Generate reviews</h3>
    <div class="row">
        <form id="generateForm" ng-submit="generate()">
            <div class="col-md-8">
                <label>Number of Customers</label><br/>
                <input type="number" ng-model="custCount"/><br/><br/>
                <label>Number of Reviews per Customer</label><br/>
                <div class="row">
                    <div class="col-md-4"><label for="min">Min</label><br/><input type="number" id="min"
                                                                                  ng-model="reviewCountMin"/></div>
                    <div class="col-md-4"><label for="max">Max</label><br/><input type="number" id="max"
                                                                                  ng-model="reviewCountMax"/></div>
                </div>
                <br/>
                <input type="submit" class="btn btn-info" value="Go"/>&nbsp;<label>{{generateStatus}}</label>
                <br/>
            </div>
        </form>
    </div>
    <h3>Load reviews</h3>
    <div>
        <label>Customers:</label>&nbsp;<label ng-repeat="cid in customerIds">{{cid}}, </label>
        <button type="button" class="btn btn-primary" ng-click="loadJava()">Load Java</button>
        <button type="button" class="btn btn-success" ng-click="loadScala()">Load Scala</button>
        <button type="button" class="btn btn-info" ng-click="loadScalaStream()">Load Scala Stream</button>
        <label ng-show="showLoadResults">{{loadStatus}}. Loaded {{reviews.length}} reviews. Took {{loadTime}} ms</label>
        <label ng-hide="showLoadResults">{{loadStatus}}</label>
    </div>
    <div class="row" ng-show="showLoadResults">
        <table class="table table-striped">
            <tr>
                <th ng-repeat="id in customerIds">Customer [{{id}}]</th>
            </tr>
            <tr>
                <td ng-repeat="id in customerIds">
                    <table class="table table-striped">
                        <tr>
                            <td>Rating</td>
                            <td>Review</td>
                        </tr>
                        <tr ng-repeat="tableReview in reviews | filter:customerFilter(id)">
                            <td>{{tableReview.rating}}</td>
                            <td style="font-size:xx-small">{{tableReview.reviewText}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>